/* IMPORT FONT FROM GOOGLEFONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERAL SETUP */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  color: #fff;
}

/* PROGRESS BUTTON */

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  font-size: 25px;
  border-radius: 25%;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #262626;
  border-radius: 25%;
  display: grid;
  place-items: center;
}

/* HEADER */

#header {
  width: 100%;
  height: 100vh;
  background-image: url(./sources/background.jpg);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

/* HEADER TEXT ANIMATION */

.header-wrapper {
  margin-top: 20%;
  overflow: hidden;
}

.header-wrapper .text {
  position: relative;
  font-size: clamp(20px, 3vw, 100px);
  font-weight: 600;
  color: #b84041;
}

.text {
  margin-left: 5px;
}

.header-wrapper .text.first-text {
  color: #fff;
}

.text.second-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #080808;
  border-left: 2px solid #b84041;
  animation: typing 4s steps(12) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

/* NAVIGATION */

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 50px;
  font-weight: 800;
  margin-left: 5px;
}

.logo img {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #b84041;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* ABOUT */

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-column-1 {
  flex-basis: 35%;
}

.about-column-1 img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
}

.about-column-2 {
  flex-basis: 60%;
}

.about-column-2 h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.about-column-2 p {
  font-size: 20px;
}

/* ABOUT TAB */

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #b84041;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents {
  display: none;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #cd5a5d;
  font-size: 16px;
  font-weight: 500;
}

.tab-contents.active-tab {
  display: block;
}

/* PORFOLIO */

#portfolio {
  padding: 0 50px;
  margin-bottom: 50px;
}

.container h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  justify-content: space-between;
  align-items: flex-end;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #cd5a5d);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.layer p {
  font-size: 20px;
}

.layer a {
  margin-top: 20px;
  color: #cd5a5d;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.2);
}

.work:hover .layer {
  height: 100%;
}

/* CONTACT */

.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #cd5a5d;
  margin-right: 15px;
  font-size: 25px;
}

/* SOCIAL */

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #cd5a5d;
  transform: translateY(-5px);
}

.fa-c,
.fa-v {
  font-size: 15px;
}

/* FORM */

.contact-right {
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  resize: none;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #cd5a5d;
  padding: 14px 50px;
  border-radius: 6px;
  color: #000;
  background-color: #cd5a5d;
  text-transform: uppercase;
  color: #fff;
}

.btn.btn2 {
  display: inline-block;
}

/* FOOTER */

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.copyright a {
  text-decoration: none;
  color: #ababab;
  transition: 0.5s;
}

.copyright a:hover {
  color: #cd5a5d;
}
