/* IMPORT FONT FROM GOOGLEFONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERAL SETUP */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #080808;
  color: #fff;
}

/* HEADER */

#header {
  width: 100%;
  height: 100vh;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: right;
}

/* HEADER TEXT ANIMATION */

.header-wrapper {
  margin-top: 20%;
  overflow: hidden;
}

.header-wrapper .text {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  color: #ff004f;
}

.text {
  margin-left: 5px;
}

.header-wrapper .text.first-text {
  color: #fff;
}

.text.second-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #080808;
  border-left: 2px solid #ff004f;
  animation: typing 4s steps(12) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

/* NAVIGATION */

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo h1 {
  font-size: 50px;
  font-weight: 800;
}

.logo::first-letter {
  color: #ff004f;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
